/* CKEditor dans l'admin */
.django-ckeditor-widget {
  width: 100% !important;
}
.cke {
  width: 100% !important;
}
/* Tous les input texte (CharField, EmailField, etc.) */
input[type="text"],
input[type="email"],
input[type="url"] {
    width: 100% !important;
    max-width: 800px;
}
